{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "loose": true,
        "targets": {
          "browsers": ["> 1%", "IE >= 9", "not dead"]
        }
      }
    ]
  ]
}